<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="stylesheet" href="styleeducadores.css">
    <link>
</head>
<body>
    <div class="center">
        <form class="form-cadastro-geral" action="">
            <h2 class="text-center title" > CADASTRO GERAL </h2>
            <div class="formsingle" >
                <div class="areas">
                    <label>PROFESSOR:</label>
                    <input name="area" required="" placeholder="" type="radio">
                    <label>COORDENADOR PEDAGÓGICO:</label>
                    <input name="area" required="" placeholder="" type="radio">
                    <label>GESTOR ESCOLAR:</label>
                    <input name="area" required="" placeholder="" type="radio">
                </div>
                <div class="areas">
                    <label>CPF:</label>
                    <input name="user" required="" placeholder="Digite seu CPF" type="text">
                </div>
                <div class="areas">
                    <label>ESTADO:</label>
                    <select>
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espírito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                        <option value="EX">Estrangeiro</option>
                    </select>
                    <label>CIDADE:</label>
                    <input name="cidade" required="" placeholder="Digite a sua cidade" type="text">
                </div>
                <div class="areas">
                    <label>WHATSAPP:</label>
                    <input name="whats" required="" placeholder="Número do Whatsapp" type="text">
                </div>
                <div class="areas">
                    <label>EMAIL:</label>
                    <input name="email" required="" placeholder="Seu Email" type="email">
                </div>
                <div class="areas">
                    <label>DATA DE NASCIMENTO:</label>
                    <input name="nascimento" required="" placeholder="Data de Nascimento" type="date">
                </div>
                <div class="areas">
                    <p>Trabalho em:</p>
                    <label>Rede pública:</label>
                    <input name="traballho" required="" type="radio">
                    <label>Rede privada:</label>
                    <input name="traballho" required="" type="radio">
                    <label>Reforço escolar:</label>
                    <input name="traballho" required="" type="radio">
                </div>
                <div class="areas">
                    <p>Segmento:</p>
                    <label>Educação Infantil:</label>
                    <input name="segmento" required="" type="radio">
                    <label>Fundamental 1:</label>
                    <input name="segmento" required="" type="radio">
                    <label>Fundamental 2:</label>
                    <input name="segmento" required="" type="radio">
                    <label>Ensino Médio:</label>
                    <input name="segmento" required="" type="radio">
                </div>
                <div class="areas">
                    <label>TURMA:</label>
                    <input name="turma" required="" type="text">
                </div>
            </div>

            <h2 class="text-center title" >CHECK LIST</h2>
            <div class="formsingle" >
                <div class="areas">
                    <div>
                        <input name="" required="" type="checkbox">
                        <label> Já salvei o contato do Grupo Elementos no meu celular.</label>
                    </div>
                    <div>
                        <input name="" required="" type="checkbox">
                        <label> Desejo participar da lista de transmissão pelo WhatsApp com conteúdos gratuitos toda sexta feira.</label>
                    </div>
                    <div>
                        <input name="" required="" type="checkbox">
                        <label> Já sigo a conta do Instagram @elementosproduçoes e tenho conhecimento da live pedagógica toda sexta as 20h30 (horário de Brasília).</label>
                    </div>
                    <div>
                        <input name="" required="" type="checkbox">
                        <label> Já faço parte do grupo do facebook e estou ciente de que lá posso adquirir conteúdos e recursos gratuitos.</label>
                    </div>
                    <div>
                        <input name="" required="" type="checkbox">
                        <label> Já sigo o canal do grupo Elementos no youtube para não perder nenhum projeto e informação.</label>
                    </div>
                    <div>
                        <input name="" required="" type="checkbox">
                        <label> Conheço sobre o projeto Professores conectados e já solicitei a minha ficha de participação no E-Mail pedagogico@elementosproducoes.com.br</label>
                    </div>
                    <div>
                        <input name="" required="" type="checkbox">
                        <label> Conheço sobre o Portal do Educador e todas as vantagens que me são proporcionadas no site dentro do espaço do cliente do grupo Elementos.</label>
                    </div>
                </div>
                
                <div class="areas" >
                    <p>Caso alguma parte do Check list esteja incompleta e você deseje saber mais, clique nas imagens e acesse os links:</p>
                    <div class="redessoc">
                        <a href=""><div style="background: linear-gradient( rgb(0 0 0 / 90%), rgb(47 11 0 / 30%)),url(images/whats.jpg);background-position: center;background-size: cover;" class="redesbg"><p>Nosso WhatsApp</p></div></a>
                        <a href=""><div style="background: linear-gradient( rgb(0 0 0 / 90%), rgb(47 11 0 / 30%)),url(images/instagram.png);background-position: center;background-size: cover;" class="redesbg"><p>Nosso Instagram</p></div></a>
                        <a href=""><div style="background: linear-gradient( rgb(0 0 0 / 90%), rgb(47 11 0 / 30%)),url(images/youtube.jpg);background-position: center;background-size: cover;" class="redesbg"><p>Nosso Canal no Youtube</p></div></a>
                        <a href=""><div style="background: linear-gradient( rgb(0 0 0 / 90%), rgb(47 11 0 / 30%)),url(images/face.jpg);background-position: center;background-size: cover;" class="redesbg"><p>Nossa Página no Facebook</p></div></a>
                    </div>
                </div>
            </div>
            
            <h2 class="text-center title" >MEUS INTERESSES:</h2>
            <div class="formsingle" >
                <div class="areas">
                    <div class="aling-vertical">
                        <p>Marque as opções de seu interesse:</p>
                        <div>
                            <input name="" required="" type="checkbox">
                            <label> Atividades Pedagógicas.</label>
                        </div>
                        <div>
                            <input name="" required="" type="checkbox">
                            <label> Cursos e metodologias didáticas.</label>
                        </div>
                        <div>
                            <input name="" required="" type="checkbox">
                            <label> Figurinhas de incentivo.</label>
                        </div>
                        <div>
                            <input name="" required="" type="checkbox">
                            <label> Marketing Digital escolar.</label>
                        </div>
                        <div>
                            <input name="" required="" type="checkbox">
                            <label> Encontros e eventos para professores com oficinas de educação continuada.</label>
                        </div>
                        <div>
                            <input name="" required="" type="checkbox">
                            <label> Teatro na escola.</label>
                        </div>
                        <div>
                            <input name="" required="" type="checkbox">
                            <label> Contação de Histórias.</label>
                        </div>
                        <div>
                            <input name="" required="" type="checkbox">
                            <label> Recreação e Brincadeiras.</label>
                        </div>
                    </div>
                </div>
            </div>
            
            <h2 class="text-center title">FICHA DE PARTICIPAÇÃO PROFESSORES CONECTADOS.</h2>
            <div class="formsingle" >
                <div class="areas">
                    <p>1) Anexo o seu vídeo de apresentação.</p>
                    <p>Incie o seu vídeo falando seu nome, E-Mail, cidade escola que trabalha e porque você escolheu ser professor.</p>
                    <div class="areas aling-vertical">
                        <label>*Faça seu vídeo na horizontal.</label>
                        <label>*Em um fundo verde ou azul.</label>
                        <label>*Faça o vídeo sem cortes.</label>
                        <label>*Não ultrapasse dois (2) minutos.</label>
                    </div>
                    <label>Faça upload do seu video: </label>
                    <input name="video" type="file" >
                    <p>2) Escolha um filme de colaboração.</p>
                    <p>Ao passar o mouse sobre as opções você pode conferir quais são as atribuições de cada time.</p>
                    <div>
                        <input name="timecolab" required="" type="radio">
                        <label> Debates e planejamentos.</label>
                    </div>
                    <div>
                        <input name="timecolab" required="" type="radio">
                        <label> Atividades pedagógicas.</label>
                    </div>
                    <div>
                        <input name="timecolab" required="" type="radio">
                        <label> Diálogos e relatos.</label>
                    </div>
                    <div>
                        <input name="timecolab" required="" type="radio">
                        <label> Moderador whatsapp.</label>
                    </div>
                    <div>
                        <input name="timecolab" required="" type="radio">
                        <label> Moderador facebook.</label>
                    </div>
                    <div>
                        <input name="timecolab" required="" type="radio">
                        <label> Moderador Instagram.</label>
                    </div>
                    <div>
                        <input name="timecolab" required="" type="radio">
                        <label> Capitação WhatsApp.</label>
                    </div>
                    <div>
                        <input name="timecolab" required="" type="radio">
                        <label> Capitação Instagram.</label>
                    </div>
                    <div>
                        <input name="timecolab" required="" type="radio">
                        <label> Capitação facebook.</label>
                    </div>
                    <div>
                        <input name="timecolab" required="" type="radio">
                        <label> Encontros Pedagógicos.</label>
                    </div>
                    <div>
                        <input name="timecolab" required="" type="radio">
                        <label> Classificados Pedagógicos.</label>
                    </div>

                    <label>Faça upload do seu video: </label>
                    <input name="video" type="file" >
                    <p>3) Escolha os quadros interativos do projeto de seu interesse.</p>
                    <div class="areas">
                        <input name="quadint" type="radio">
                        <label>Ainda não conheço os quadros e como funciona o Projeto professores conectados.</label><br>
                        <a href="">Se você não conhece sobre nossos quadros interativos clique aqui e saiba mais!</a>
                    </div>
                    <div class="areas">
                        <input name="quadint" type="radio">
                        <label>Já conheço os quadros interativos do projeto professores conectados.</label>
                        <p>Se você já conhece chegou a hora de escolher os quadros de seu interesse. É importante que você verifique se existe algum pré-requisito para participação dos quadros e envie os anexos no seu cadastro.</p>
                    </div>
                    <div class="areas">
                        <input type="checkbox" name="profyt">
                        <label>MINHA PROFESSORA É UMA YOUTUBER</label>
                    </div>
                    <div class="areas">
                        <label>Nome do canal:</label>
                        <input type="text" name="nomecanal">
                    </div>
                    <div class="areas">
                        <label>Link do canal:</label>
                        <input type="text" name="linkcanal">
                    </div>
                    <div class="areas">
                        <label>Capa do canal (Em alta qualidade):</label><br>
                        <input type="file" name="capacanal">
                    </div>
                    <div class="areas">
                        <label>Descrição do canal:</label><br>
                        <textarea name="desccanal" rows="10" cols="100"></textarea>
                    </div>
                    <div class="areas">
                        <label>Dias e horários de publicação:</label><br>
                        <textarea name="diascanal" rows="10" cols="100"></textarea>
                    </div>
                    <div class="areas">
                        <label>Palavras chaves:</label><br>
                        <textarea name="keys" rows="5" cols="100"></textarea>
                    </div>
                    <h2>TAG professores conectados</h2>
                    <div class="areas">
                        <label>Fazer um anexo do meu vídeo respondendo a TAG  #professoresconectados</label><br>
                        <input type="file" name="capacanal">
                    </div>
                    <div class="areas">
                        <div>
                            <input type="checkbox" name="confirmquad" required="">
                            <label>Declaro que estou ciente sobre como funciona o quadro Minha professora é uma youtube e autorizo o grupo Elementos a divulgar meu vídeo nos seus canais de comunicação e redes sociais.</label>
                        </div>
                        <div>
                            <input type="checkbox" name="confirmlic" required="">
                            <label>EU APRENDI A LIÇÃO.</label>
                        </div>
                    </div>
                    <div class="areas">
                        <label>Tema:</label>
                        <input type="text" name="temaname" required="">
                    </div>
                    <div class="areas">
                        <label>Envie o anexo do seu roteiro e plano de aula aqui.</label><br>
                        <input type="file" name="roteiro">
                    </div>
                    <div class="areas">
                        <label>Envie o anexo da sua lista de materiais aqui.</label><br>
                        <input type="file" name="materiais">
                    </div>
                    <div class="areas">
                        <label>Envie o seu video aqui.</label><br>
                        <input type="file" name="videouser">
                    </div>
                    <div class="areas">
                        <label>Envie a bibliografia utilizada aqui.</label><br>
                        <input type="file" name="bibliografia">
                    </div>
                    <div class="areas">
                        <div>
                            <input type="checkbox" name="" required="">
                            <label>Declaro que estou ciente sobre como funciona o quadro Eu aprendi a lição e autorizo o grupo Elementos a divulgar meu vídeo nos seus canais de comunicação e redes sociais.</label>
                        </div>
                        <div>
                            <input type="checkbox" name="" required="">
                            <label>SALA DOS PROFESSORES.</label>
                        </div>
                        <div>
                            <input type="checkbox" name="" required="">
                            <label>Eu já li o anexo explicativo e compreendo como irá funcionar o sala dos professores. .</label>
                        </div>
                        <div>
                            <input type="checkbox" name="" required="">
                            <label>ME CONTA O QUE ACONTECEU? – Este quadro não tem pré-requisitos.</label>
                        </div>
                        <div>
                            <input type="checkbox" name="" required="">
                            <label>FALA COMIGO MESTRE! - Este quadro não tem pré-requisitos.</label>
                        </div>
                        <div>
                            <input type="checkbox" name="" required="">
                            <label>DIALOGOS DA EDUCAÇÃO. - Este quadro não tem pré-requisitos.</label>
                        </div>
                    </div>
                
                </div>
            </div>
            <div class="center">
                <button class="btn">Cadastrar</button>
            </div>
                
        </form>
    </div>

</body>
</html>