<!DOCTYPE html>
<html lang="pt - br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleartistas.css">
    <title>Formulário</title>
</head>
<body>
    <div class="Header">
        <img class="logo" src="images/Grupo-Elementos-Logo-Black.png" alt="Logo Grupo Elemento">
        <h1 class="Title">Ficha de Cadastro (artistas)</h1>
    </div>
</body>
</html>