<!DOCTYPE html>
<html lang="pt - br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleartistas.css">
    <title>Formulário</title>
</head>
<body>
    <div class="Header">
        <img class="logo" src="images/Grupo-Elementos-Logo-Black.png" alt="Logo Grupo Elemento">
        <h1 class="Title">Ficha de Cadastro Geral</h1>
    </div>
    <fieldset>
                <div class="name">
                    <label><strong>Nome:</strong></label>
                    <input type="text" name="nome" class="nameinput" required/>
                </div>
                <div>
                    <label><strong>E-mail:</strong></label>
                    <input type="email" name="data" required/>
                </div>
                <div>
                    <label><strong>Celular:</strong></label>
                    <input type="tel" name="tel" required/>
                </div>
                <div>
                    <label><strong>CPF:</strong></label>
                    <input type="number" nome="cpf" required/>
                </div>
                <div class="name">
                    <label><strong>Data de Nascimento:</strong> </label>
                    <input type="date" name="data" class="age" required/>
                </div>
                <div>
                    <label><strong>Perfil:</strong></label>
                    <input type="text" name="perfil" required/>
                </div>
                <div>
                    <label><strong>Cidade:</strong></label>
                    <input type="text" name="city" required/>
                </div>
                <div class="name">
                    <label><strong>Estado:</strong></label>
                    <select class="estado">
                        <option selected disable value="">Selecione</option>
                        <option>Acre</option>
                        <option>Alagoas</option>
                        <option>Amapá</option>
                        <option>Amazonas</option>
                        <option>Bahia</option>
                        <option>Ceará</option>
                        <option>Espírito Santo</option>
                        <option>Goiás</option>
                        <option>Maranhão</option>
                        <option>Mato Grosso</option>
                        <option>Mato Grosso do Sul</option>
                        <option>Minas Gerais</option>
                        <option>Pará</option>
                        <option>Paraíba</option>
                        <option>Paraná</option>
                        <option>Pernambuco</option>
                        <option>Piauí</option>
                        <option>Rio de Janeiro</option>
                        <option>Rio Grande do Norte</option>
                        <option>Rio Grande do Sul</option>
                        <option>Rondônia</option>
                        <option>Roraima</option>
                        <option>Santa Catarina</option>
                        <option>São Paulo</option>
                        <option>Sergipe</option>
                        <option>Tocantins</option>
                        <option>Distrito Federal</option>
                    </select>
                </div>
                <div>
                    <label><strong>Senha:</strong></label>
                    <input type="password" name="senha" required/>
                </div>
    </fieldset>
</body>
</html>