* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    height: 100vh;
}
.Header{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.cabeçalho{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.names{
    width: 60%;
}
.profile{
    display: flex;
    justify-content: flex-end;
    border: 1px solid rgb(109, 106, 106) ;
    border-radius: 5px;
    background-image: url("Grupo-Elementos-Logo-Black.png");
    
}
.logo{
    width:100px;
}
fieldset {
    padding: 1%;
    margin: 1% ;
    background-color:  white;
    height: 100%;
}
h2,h3{
    color:black;
    margin: 0.5% 0% 1%;
    padding-bottom: 0.5%;
    width:100%;
    text-align: center;
    background-color: #d2d2d2;
    border: 1px solid black;
}
input, select, textarea, button {
    border-radius: 5px;
    margin: 1%;
}
input, select :hover {
    cursor: pointer;
  }
div {
    margin: 1%;
}
.name{
    display: flex;
    flex-direction: column;
}
.nameinput, .surname, .age, .nacionalidade, .estado, .cpf, .passport, .registro, .validade, .tel, .email, .address, .social, .formação, .premio, .idiomas, .age, .height{
    width: 50%;
}
.checkbox{
    width: 50%;
}
.box-checkbox{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
.box-checkbox2{
    display: flex;
    flex-wrap: wrap;
    width: 55%;
}
.input-box{
    width: 20%;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    vertical-align: bottom;
}
.check{
    height: 10px;
    display: flex;
    align-items: center;
}
p{
    font-size: 15px;
    margin-left: 5px;
    opacity: 70%;
}
.btn{
    width: 50%;
    height: 50px;
    color: white;
    font-size: 20px;
    border-radius: 8%/100%;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}
button:hover{
    cursor: pointer;
}
.box-btn{
    display: flex;
    justify-content: center;
}

